<form action="{{ url_for('roll_list') }}" method="get">
  <h2>Категория</h2>
  <select name="category">
    <option value="id">id</option>
    <option value="length" selected>Длина</option>
    <option value="weight" selected>Вес</option>
    <option value="created_at">Дата создания</option>
    <option value="deleted_at">Дата удаления</option>
  </select>
  <input type="search" name="query" value="{{ search }}"/>
  <input type="submit" value="Найти"/>
</form>
<form method="get" action="{{ url_for('index') }}">
   <input type="submit" value="Перейти на главное меню">
</form>
<table>
  {% for roll in rolls %}
  <dl>
    <dt>id: {{ roll['id'] }}</dt>
    <dd>length: {{ roll['length'] }}</dd>
    <dd>weight: {{ roll['weight'] }}</dd>
    <dd>created_at: {{ roll['created_at'] }}</dd>
    <dd>deleted_at: {{ roll['deleted_at'] }}</dd>
  </dl>
  {% endfor %}
</table>
