<h2>Статистика за период от {{ info['start_date'] }} до {{ info['end_date'] }}</h2>
<p>Количество добавленных рулонов: {{ info['count_created'] }}</p>
<p>Количество удалёных рулонов: {{ info['count_deleted'] }}</p>
<p>Средняя длина рулонов: {{ info['avg_length'] }}</p>
<p>Средний вес рулонов: {{ info['avg_weight'] }}</p>
<p>Максимальная длина рулона: {{ info['max_length'] }}</p>
<p>Минимальная длина рулона: {{ info['min_length'] }}</p>
<p>Максимальный вес рулона: {{ info['max_weight'] }}</p>
<p>Минимальный вес рулона: {{ info['min_weight'] }}</p>
<p>Сумарный вес рулонов: {{ info['sum_weight'] }}</p>
<p>Максимальный промежуток между добавлением и удалением рулона: {{ info['max_delta'] }}</p>
<p>Минимальный промежуток между добавлением и удалением рулона: {{ info['min_delta'] }}</p>
<p>День, когда на складе находилось максимальное количество рулонов {{ info['date_with_max_count'] }}</p>
<p>День, когда на складе находилось минимальное количество рулонов {{ info['date_with_min_count'] }}</p>
<form method="get" action="{{ url_for('index') }}">
   <input type="submit" value="Перейти на главное меню">
</form>
